$dark-green: #07261B;
$green: #5e7605;
$light-green: #6E8C03;
$rotten-green: #BFB854;
$navy-blue: #010B40;
$dark: #2e2e2e;
$pure-white: #fff;
$my-white: #eee;
$light-grey: rgb(216, 216, 216);

$dark-green-light-green: linear-gradient(45deg, rgba(7,38,27,1) 10%, rgba(110,140,3,1) 75%);
$green-rotten-green: linear-gradient(45deg, rgba(110,140,3,1) 10%, rgba(191,184,84,1) 75%);
$green-light-green: linear-gradient(45deg, rgba(110,140,3,1) 10%, rgba(110,140,3,1) 75%);

